.flex{
    display: flex;
}
.logo{
    width: 24px;
    position: relative;
    left: 23px;
}
.justify-center{
    justify-content: center;

}
.item-center{
    align-items: center;
}
.border{
    /* border: 2px solid red; */
    margin: 13px;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    /* width: 24px; */
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 8px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 20px;
}
/* For WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #222; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #333; /* Color of the scrollbar thumb */
    /* For WebKit (Chrome, Safari, Opera) */
    border-radius: 6px;
}